:root {
  --primary-color: #047aed;
  --secondary-color: ##1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --text-primary: #fff;
  --text-secondary: #333;
}

.bg-primary {
  background-color: var(--primary-color);
  color: var(--text-primary);
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: var(--text-primary);
}

.bg-dark {
  background-color: var(--dark-color);
  color: var(--text-primary);
}

.bg-light {
  background-color: var(--light-color);
  color: var(--text-secondary);
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--text-primary);
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-primary);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-primary);
}

.btn-dark {
  background-color: var(--dark-color);
  color: var(--text-primary);
}

.btn-light {
  background-color: var(--light-color);
  color: var(--text-secondary);
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-center {
  text-align: center;
}

/* Text sizes  */
.lead {
  font-size: 20px;
}

.text-sm {
  font-size: 1rem;
}

.text-md {
  font-size: 2rem;
}

.text-lg {
  font-size: 3rem;
}

.text-xl {
  font-size: 4rem;
}

/* Margin Utilities  */

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

.my-0 {
  margin: 0 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}

.mx-0 {
  margin: 0 0;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 1.5rem;
}
.mx-3 {
  margin: 0 2rem;
}
.mx-4 {
  margin: 0 3rem;
}
.mx-5 {
  margin: 0 4rem;
}

/* Padding Utilities  */

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}

.py-0 {
  padding: 0 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}

.px-0 {
  padding: 0 0;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 1.5rem;
}
.px-3 {
  padding: 0 2rem;
}
.px-4 {
  padding: 0 3rem;
}
.px-5 {
  padding: 0 4rem;
}
